a {
    text-decoration: none;
    text-decoration-color: none;
    text-decoration-line: none;
}

body {
    font-family: 'raleway', sans-serif;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: black;
}

html {
    width: 100%;
    height: 100%;
}

.construction {
    display: table;
    width: 100%;
    height: 100%;
    background: url(../images/download2.jfif) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#const-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 5em;
    color: whitesmoke;
    margin-top: -50px;
}

#const-header {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 3em;
    color: whitesmoke;
}

#const-subtitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 2em;
    color: whitesmoke;
    margin-top: 300px;
}